@font-face {
  font-family: 'Bruno Ace';
  src: url('assets/sass/fonts/BrunoAce.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('assets/sass/fonts/PressStart2P.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
