@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfc5c5;
  font-family: 'Bruno Ace', cursive;
}